@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="d-flex justify-content-between">
        @foreach(var personaje in Model.personajes)
        {
        <div class="card col-4">
            <div class="card-header  bg-dark text-white d-flex justify-content-between">
                <h3>@personaje.Nombre</h3>

            </div>
            <div class="card-body">
                <img class="img-fluid" src="@personaje.ImagenUrl" />

            </div>
            <div class=" card-footer">
                <p>@personaje.NombreReal</p>
                <p>@personaje.SuperPoder</p>
            </div>
        </div>
        
        }
       
</div>

